<nav class="py-2 bg-body-tertiary border-bottom shadow-sm fixed-top bg-white">
  <div class="container d-flex flex-wrap ">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">This</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">is</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">my</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">web</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">page</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">!</a></li>
    </ul>
  </div>
</nav>
<div style = "height:60px">
  
</div>